#features {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #888888;
}
#features h2 {
    font-size: 30px;
}
#features ul {
    list-style-type: none;
}
li:hover {
    font-size: large;
    font-weight: bold;
}